[Unit]
Description=Basic Authentication Server
After=network-online.target

[Service]
Environment=NAMESPACES=accel,guest
Environment=USE_SSL=true
Environment=SSL_KEY_PATH=/certs/privatekey.pem
Environment=SSL_CERT_PATH=/certs/certificate.pem
Environment=PORT=443
Environment=DB_HOST=127.0.0.1
Environment=DB_NAME=auth

Type=simple
WorkingDirectory=/code/server
ExecStart=/usr/local/bin/deno run --allow-env --allow-read --allow-write --allow-net /code/server/index.ts
Restart=on-failure

[Install]
WantedBy=multi-user.target